.hero {
  background-color: black;
  width: 100%;
  min-height: 40vh;
}
.hero h1 {
  color: gold;
  font-size: 4rem;
  padding: 70px;
  text-align: center;
}

/* section */
.underline {
  width: 6rem;
  height: 0.25rem;
  background: gold;
  margin-left: auto;
  margin-right: auto;
}
